$primary-color:  #B22222;    
$second-color: #FF5733;
$title-color: #ff7442;    
$text-color: #dd9f02;  
$value-color: #d88d00;
$text-muted: #777777;         
$border-color: #dcdcdc; 


$navbar_input-bg: #f8f8f8;
$button-bg: #ffc400;   
$background-color: #FFF1E6;  
$background-color2:rgb(250, 245, 241);  

$padding: 10px;
$md-padding: 20px;
$margin-normal: 30px;
$margin-top: 50px;

$table-background: #f8e2d3a5; 
$table-header-bg: #e97232a3; 