@use 'style.scss';
@use 'sass:color';
@use './_variable' as *;
@use './mixins';

section.student-overview {
    .card {
        width: 50% !important;
        max-width: 100% !important;
        margin: 0 auto;
        border: 1px solid $border-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

        .card-body {
            .card-title {
                color: $primary-color;
                font-weight: bold;

                span {
                    color: $second-color;
                    font-weight: normal !important;
                    font-weight: 400;
                }
            }

            .card-text {
                color: $second-color;
                font-weight: 600;

                span {
                    font-weight: normal !important;
                    color: $value-color;
                }
            }
        }
    }
}

section.table {
    margin: 20px auto;
    border-radius: 5px; 
    width: 50%;

    table {
        thead {
            tr {
                th {
                    background-color: $table-header-bg !important;
                    color: $primary-color;
                }
            }
        }

        tbody {
            tr {
                font-weight: 500;

                td.subject {
                    color: $second-color;
                    background-color: $table-background !important;

                }

                td.level {
                    color: $value-color;
                    background-color: $table-background;
                    text-align: center;
                }

                td.hundred {
                    color: $text-muted;
                    background-color: $table-background;
                    text-align: center;
                }
            }
        }
    }
}

section.superior {

    background-color: $background-color2;
    padding: $md-padding;

    .header-text {
        color: $title-color;
        margin-top: $margin-top;
    }

    .row {
        ol {
            li {
                h5 {
                    color: $primary-color;
                    margin-bottom: $md-padding;

                    i {
                        color: $text-color;
                        padding-left: $padding;
                    }
                }

                p {
                    color: $text-color;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    section.student-overview {
        .card {
            width: 95% !important;
        }
    }

    section.table{
        width: 80% !important;
    }
}

@media (max-width: 768px) {
    section.table{
        width: 100% !important;
    }
}